/* Reset some default padding and margin */
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* Style for the main app container */
.app {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.description {
    white-space: pre-line;
}

/* Style for each project */
.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
    .app {
        padding: 40px;
    }

    .project {
        padding: 40px;
    }
}

